<h1>Users#index</h1>
<% @user.each do |user| %>
<div>
  <p><%= image_tag user.get_profile_image(100,100) %></p>
  <p><%= user.name %></p>
  <p><%= link_to "show", user_path(user.id)%></p>
</div>
<% end %>

