<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<head>
  <title>Bookers2Ver2</title>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scake=1">
  <link rel="stylesheet" madia="all" href="/packs/css/application-859f38f5.css"data-turbolinks-track="reload">
  <script src="https://kit.fontawesome.com/61009a7efc.js" crossorigin="anonymous"></script>
</head>
<body>

<main>
  <p id="notice"></p>
  <div class="container">
  <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <h1>
    welcome to 
    <i class="fas fa-book"></i>
    <strong>Bookers</strong>
    !!
    </h1>
</html>
