<html class="fontawesome-i2svg-active fontawesome-i2svg-complete"></html>
<head>
  <title>Bookers2Ver2</title>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scake=1">
  <link rel="stylesheet" madia="all" href="/packs/css/application-859f38f5.css"data-turbolinks-track="reload">
  <script src="https://kit.fontawesome.com/61009a7efc.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <span>Bookers</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-exoanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto"></ul>
          <li>
            <a class="nav-link text-light" href="/">" Home "</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/home/about">" About "</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/users/sign_up">"Sign up"</a>
          </li>
          <li>
            <a class="nav-link text-lignt" href="/users/sign_in">"Log in</a>
          </li>
        </ul>
        </div>
    </nav>
  </header>
<main>
  <p id="notice"></p>
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <h1>
    welcome to 
    <i class="fas fa-book"></i>
    <strong>Bookers</strong>
    !!
    </h1>
    <p>
      In
      <i class="fas fa-book"></i>
      Bookers,
    </p>
    <p>you can share and exchange your opinions , inpression , and emotions</p>
    <p>about various books!</p>
    <div class="btn-wrapper col-10 mx-auto">
      <div class="row">
        <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
      </div>
      <div class="row">
        <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container mt-5">
    <div class="row"><div class="mx-auto">
      <p>CopyRignt Infratop.inc</p>
    </div>
    </div>
  </div>
</footer>
</body>